pip install asgiref==3.2.10
pip install Django==3.1.1
pip install gunicorn==20.0.4
pip install paytmchecksum==1.7.0
pip install Pillow==7.2.0
pip install pycryptodome==3.9.8
pip install pytz==2020.1
pip install sqlparse==0.3.1
pip install whitenoise==5.2.0
