   <!-- Top Bar -->

   {% load static %}
   <style>
     .t-icons{
  height: 20px !important;
  width: 10% !important;
}
   </style>
  <section id="top-bar" class="p-3">
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-4 text-right">
          <i class="fas fa-phone" style="transform: rotateY(180deg);"></i>
          +916307764531
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-4 text-center" >
          <i class="fas fa-envelope-open"></i>
        rathaurritika2000@gmail.com
        </div>

      </div>
    </div>
  </section>